<nav class="tabs__tabs-list" role="tablist">
    <a class="tabs__tab tabs__tab--selected" href="#tab" aria-controls="content1" id="tab1" role="tab" aria-selected="true">Data</a>
    <a class="tabs__tab" href="#tab" aria-controls="content2" id="tab2" role="tab">Reports</a>
    <a class="tabs__tab" href="#tab" aria-controls="content3" id="tab3" role="tab">Maps</a>
</nav>
<section id="content" aria-live="polite" role="region" class="tabs__content-container">
    <article class="tabs__content tabs__content--visible" id="content1" role="tabpanel">The lazy dog jumped over the quick fox</article>
    <article class="tabs__content" id="content2" role="tabpanel">If you click this tab then your life will be better</article>
    <article class="tabs__content" id="content3" role="tabpanel">Know your roles</article>
</section>    