<p class="message-bar message-bar--success" aria-live="polite">
    <strong>Success – </strong> your data has been saved. <a href="" class="link">Take a look</a>
</p>

<p class="message-bar message-bar--info" aria-live="polite">
    <strong>Did you know –</strong> you can access 360 roadside views?  <a href="" class="link">Take a look</a>
</p>

<p class="message-bar message-bar--warning" aria-live="polite">
    <strong>Be aware –</strong> there are issues with your submission. <a href="" class="link">Find out more</a>
</p>

<p class="message-bar message-bar--danger" aria-live="polite">
    <strong>Be aware –</strong> deleted records cannot be retrieved.  <a href="" class="link">Find out more</a>
</p>
