<div class="modal">
    
    <div class="modal__overlay"></div>
    
    <aside class="modal__container">
        
        <header class="modal__header">
            Modal header
        </header>
        
        <main class="modal__body"></main>
        
        <footer class="modal__footer">
            <ul class="button-group">
                <li class="button-group__item">
                        <button class="button button--secondary">Close</button>
                </li>
                <li class="button-group__item">
                    <button class="button button--primary">Confirm</button>
                </li>
            </ul>
        </footer>
    </aside>
    
</div>