<ul>
    <li>
        <p class="status status--success">
            <span class="status__indicator" role="presentation"></span>
            <span class="sr-only">Status: </span>
            Active
        </p>
    </li>
    
    <li>
        <p class="status status--warning">
            <span class="status__indicator" role="presentation"></span>
            <span class="sr-only">Status: </span>
            Expired
        </p>
    </li>
        
    <li>
        <p class="status status--danger">
            <span class="status__indicator" role="presentation"></span>
            <span class="sr-only">Status: </span>
            Corrupt
        </p>
    </li>
    
    <li>
        <p class="status status--info">
            <span class="status__indicator" role="presentation"></span>
            <span class="sr-only">Status: </span>
            Pending
        </p>
    </li>  
</ul>
