<header class="masthead">
    
    <a href="/" class="masthead__link">
        <img class="masthead__logo" src="/logo.png" alt="Gaist – Platform"/>
    </a>
    
    <nav class="masthead__nav">
        <ul class="link-list link-list--horizontal link-list--dark">
            <li class="link-list__item">
                <a href="" class="link-list__link">Reports</a>
            </li>
            <li class="link-list__item">
                <a href="" class="link-list__link">Maps</a>
            </li>
            <li class="link-list__item">
                <a href="" class="link-list__link">Data</a>
            </li>
            <li class="link-list__item">
                <a href="" class="link-list__link">Support</a>
            </li>
        </ul>
    </nav>
     
    <div class="masthead__avatar avatar">
        <a href="" class="avatar__button"></a>
    </div>
</header>